
body {
  background-color: lightblue;
  max-height: 700px;
  max-width:  700px;
}

.App {
  text-align: center;
}

button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 4px 2px;
  width: 120px;
  font-size: 20px;
}

.float-container {
    width: 600px;
    border: 3px solid #fff;
    padding: 30px;
     height: 350px;
}

.float-child-buttons {
    /*width: 70%; */
    width: 200px;
    float: left;
    padding: 10px;
    border: 2px;
     height: 300px;
}

.float-child-time {
    /*width: 30%;*/
    width: 250px;
    float: left;
    padding: 10px;
    border: 2px;
     height: 300px;
}

.time {
  font-size: 44px;
}
